<div class="col-lg-12 mx-auto" *ngFor="let article of articles">
  <div class="article-card">
    <a routerLink="/blog/{{article.id}}">
      <!-- <div class="col-sm-3">
        <img class="article-image" src="{{article.image}}" alt="ARTICLE IMG">
      </div> -->
      <div class="col-sm-12">
        <div class="col-lg article-text">
          <h2 class="article-title">{{ article.title }}</h2>
          <p class="article-byline">{{ article.byline }}</p>
          <p class="article-desc">{{ article.desc }}</p>
          <!-- <p class="article-readmore"><i class="fa fa-arrow-down"></i>Please click here to read more</p> -->
        </div>
      </div>
    </a>
  </div>
</div>
