 .article-card {
   padding: 2%;
   max-height:256px;
  overflow:hidden;
   background-color: white;
   border-bottom: 2px solid #eeeeee;
 }
.article-image {
width:0px;
}
@media only screen and (min-width: 365px)  {
 .article-image {
   border-radius: 10px;
   float: left;
   padding: 0%;
   width: 100%;
   max-width: 128px;
   height: auto;
 }
}
a {
text-decoration:none;
}
 .article-title {
font-size:18px;
   padding-top: 2%;
   font-weight: bold;
   color: black;
   text-align: left;
 }
 .article-title:hover {
color:#5a5a5a;
}
 .article-byline {
   font-size: 12px;
   color: #5a5a5a;
   text-align: left;
 }
 .article-desc {
   font-size: 14px;
   color: black;
   text-align: left;
 }
 .article-readmore {
   position: relative;
   top: -20px;
   clear: both;
   padding: 0px;
   font-size: 14px;
   color: #5a5a5a;
   text-align: right;
 }


 ul {
   list-style-type: none;
 }

 li {
   padding-top: 5%;
 }
