<div class="container" style="padding-top: 15px">
  <div class="row m-b-lg">
    <div class="col-lg-12 text-center">
      <div class="navy-line">
        <h1>Contact Us</h1>
      </div>
      <address>
        <strong>
          <span class="navy">T6 Labs</span>
        </strong>
        <br /> Toronto, ON
        <br />
      </address>
      <p class="text-color">
        Feel free to contact us. Currently our team is only available through email. We try to respond within 1
        business day.
      </p>
      <hr>
      <a href="mailto:artechnologies.contact@gmail.com" class="btn btn-primary">Send us an email</a>
    </div>
  </div>
</div>
