<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white shadow-sm nav-light-grey">
  <!-- <h5 class="my-0 mr-md-auto font-weight-normal">T6 Labs</h5> -->
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
    <a class="p-2 text-dark" [routerLink]="['/team']" routerLinkActive="router-link-active">The Team!</a>
    <a class="p-2 text-dark" [routerLink]="['/projects']" routerLinkActive="router-link-active">Projects</a>
    <a class="p-2 text-dark" [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact Us</a>
  </nav>
</div>
