.card-title {
	color: #5a5a5a;
	font-size: 12px;
	text-align: right;
}

.col-sm-3 {
	border-bottom: 2px solid #eeeeee;
	margin:1rem;
	font-size: 14px;
	font-size-adjust: 0.58;
}
.col-sm-3 h3 {
	font-size: 18px;
}
.container {
	padding:5rem;
}
