<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h3><strong>Max Belleville</strong></h3>
      <p><i class="fa fa-bed"></i> Why can't every day be a sleep in day?</p>
      <p class="card-title">Developer</p>
    </div>
    <div class="col-sm-3">
      <h3><strong>Vinorth V</strong></h3>
      <p><i class="fa fa-coffee"></i> Avid tea drinker</p>
      <p class="card-title">Developer</p>
    </div>
    <div class="col-sm-3">
      <h3><strong>Md. Abdul Chowdhury</strong></h3>
      <p><i class="fa fa-bed"></i> Live, Eat, Sleep, and then Eat again</p>
      <p class="card-title">Developer</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <h3><strong>Raj Somasundaram</strong></h3>
      <p><i class="fa fa-optin-monster"></i>Let's hope this works!</p>
      <p class="card-title">Developer</p>
    </div>
    <div class="col-sm-3">
      <h3><strong>Ahmed Somaan</strong></h3>
      <p><i class="fa fa-balance-scale"></i>I am fat</p>
      <p class="card-title">Developer</p>
    </div>
    <div class="col-sm-3">
      <h3><strong>Adshayan Balendra</strong></h3>
      <p><i class="fa fa-ravelry"></i>I am not smart. I just wear glasses.</p>
      <p class="card-title">Developer</p>
    </div>
  </div>
</div>
