<div class="animated fadeInDown whitebackground" style="padding-bottom: 25px">
  <div class="container">
    <!-- Jumbotron -->
    <div class="jumbotron">
      <h1>T6 Labs</h1>
      <p class="lead">
        Solving real world probelms using a wide range of software tools.
      </p>
      <p>
        <a class="btn btn-lg btn-success" routerLink="/projects" role="button">Check out some of our projects!</a>
      </p>
    </div>
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-sm-6">
        <h2 class="white-text">Who are we?</h2>
        <p class="white-text">
          We are a Toronto based organization that is dedicated to using software to enhance the lives of people and the world around them. We hold meetings, 
          exchange ideas and build solutions.
        </p>
      </div>
      <div class="col-sm-6">
        <h2 class="white-text">Current Endeavours</h2>
        <p class="white-text">
          Presently, development has begun on an augmented reality game. We are looking to add more projects in the near future. See the projects section of the 
          website for a detailed list and links to repositories and examples. 
        </p>
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-6 col-xs-12">
        <h2 class="featurette-heading">Collaborative</h2>
        <p class="lead">
          A focus on working together, with a dedicated team and a commitment to open source software development.
        </p>
      </div>
      <div class="col-md-6 col-xs-12">
        <img class="featurette-image img-fluid mx-auto" alt="Collaboration" src="..\assets\img\img2.jpg">
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-6 col-xs-12">
        <img class="featurette-image img-fluid mx-auto" alt="Raptor" src="..\assets\img\080417-F-4127S-3112.jpg">
      </div>
      <div class="col-md-6 col-xs-12">
        <h2 class="featurette-heading">Modern</h2>
        <p class="lead">
          The lastest technologies. Whether it's leveraging cloud computing or speeding up build times with the newest framework version, 
          we're always looking to push boundaries.
        </p>
      </div>
    </div>
  </div>
</div>
