
<div class="container">

  <div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-10">

      <!-- Title -->
      <h1 class="mt-4">{{displayPost.title}}</h1>

      <!-- Author -->
      <p class="lead">
        {{displayPost.byline}}
      </p>

      <!-- Preview Image -->
      <img class="img-fluid rounded" src={{displayPost.mainimage}} alt="">
      <hr>

      <!-- Post Content -->
      <p class="lead">{{displayPost.maincaption}}</p>

      <p>{{displayPost.description}}</p>

      <hr>

     
      <!-- Single Comment -->

    </div>

    <!-- Sidebar Widgets Column -->

  </div>
  <!-- /.row -->

</div>